# Copyright 2018 Initiate Thinking Limited (https://www.initiatethinking.com)
# Author: Nigel Daniels
# MIT Licensed

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Apple fs
.AppleDouble/
.DS_Store

# The built files
dist/

# Data
docker/mongo/data

# Private files
mail.json
test-crt.crt
test-csr.pem
test-key.pem
