/**
 * Copyright 2018 Initiate Thinking (https://www.initiatethinking.com)
 * Author: Nigel Daniels
 * MIT Licensed
 */

 /*
  * All Views
  */

 /* Make stacks of inputs with preceding icons into a block */
.input-block-ico .input-group {
	margin-bottom: -1px;
}

.input-block-ico .input-group:last-of-type {
	margin-bottom: 0;
}

.input-block-ico .input-group-text {
	border-radius: 0;
	width: 42px;
}

.input-block-ico .input-group:first-of-type .input-group-text {
	border-top-left-radius: 4px;
}

.input-block-ico .input-group:last-of-type .input-group-text {
	border-bottom-left-radius: 4px;
}

.input-block-ico input {
	border-radius: 0;
}

.input-block-ico .input-group:first-of-type input {
	border-top-right-radius: 4px;
}

.input-block-ico .input-group:last-of-type input {
	border-bottom-right-radius: 4px;
}


 /*
  * Login View
  */
.login-brand {
	margin-bottom: 10px;
}

.login-brand .row {
	margin-left: auto;
	margin-right: auto;
}

.login-main-title h1 {
    margin: 0;
    margin-left: 5px;
}

.login-title {
	text-align: center;
}

.login-form {
	margin-left: 20px;
	margin-right: 20px;
}

.login-footer {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

.login-footer-left {
	padding: 0;
	padding-left: 30px;
	text-align: left;
}

.login-footer-right {
	padding: 0;
	padding-right: 30px;
	text-align: right;
}

.signup-form {
	margin-left: 20px;
	margin-right: 20px;
}

.forgot-form {
	margin-left: 20px;
	margin-right: 20px;
}

.forgot-copy {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

/*
 * Reset View
 */
.reset-form {
    margin-left: 20px;
    margin-right: 20px;
}


/*
 * Index View
 */

/* Move down content because we have a fixed navbar that is 50px tall */
#main {
	padding-top: 50px;
}

@media (min-width: 768px) {
	.content {
		padding-left: 40px;
    	padding-right: 40px;
	}
}

@media (max-width: 768px) {
	.content {
		padding-left: 15px;
    	padding-right: 15px;
	}
}

/*
 * Menu View
 */
.navbar-fixed-top {
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);
}

.icon-bar {
	background-color: #aaa;
}

.settings {
	bottom: 0;
	position: absolute;
	width: 100%;
}
