extends layout
	
append content
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
				// .masthead .clearfix
				.inner.cover
					form.form-cover(method='POST')
						img(src='../images/cover-logo.png', width='300px')
						h2.form-signup-cover Joining Details
						.form-group
							label(for='first') Your Name
							input.form-control(type='text', name='first', placeholder='First name', required='', autofocus='')
							input.form-control(type='text', name='last', placeholder='Last name', required='')
						.form-group
							label(for='inputPassword') Password
							input.form-control(type='password', name='password', placeholder='Password', required='')
							input.form-control(type='password', name='vpassword', placeholder='Validate password', required='')
						.checkbox
							label
								input(type='checkbox', name='terms', checked=false)
								|  I agree to the
								a(href='#', data-toggle='modal', data-target='#terms') terms and conditions
							label
								input(type='checkbox', name='privacy', checked=false)
								|  I agree to the
								a(href='#', data-toggle='modal', data-target='#privacy') privacy policy
							button.btn.btn-lg.btn-primary.btn-block(type='submit') Join
					// ******** MODALS ********
					// T&Cs Modal
					#terms.modal(aria-hidden='true', data-backdrop='static', style='display: none; z-index: 1150;')
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
									h4.modal-title Terms and Conditions
								.modal-body
									include ../public/templates/authenticate/modals/terms.html
								.modal-footer
									a.btn.btn-primary(href='#', data-dismiss='modal', data-toggle='tooltip', data-placement='top', title='Ok')
										span.glyphicon.glyphicon-ok(aria-hidden='true')
					// Privacy Modal
					#privacy.modal(aria-hidden='true', data-backdrop='static', style='display: none; z-index: 1050;')
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
									h4.modal-title Privacy Policy
								.modal-body
									include ../public/templates/authenticate/modals/privacy.html
								.modal-footer
									a.btn.btn-primary(href='#', data-dismiss='modal', data-toggle='tooltip', data-placement='top', title='Ok')
										span.glyphicon.glyphicon-ok(aria-hidden='true')
				.mastfoot
					.inner
						p.text-muted
							span.glyphicon.glyphicon-copyright-mark(aria-hidden='true')
							|  2015 Axiomode Ltd.
					// .inner
				// .mastfoot
			// .cover-container
		// .site-wrapper-inner
	// .site-wrapper

append scripts
	script(src='/js/lib/jquery-2.1.4.min.js', data-requiremodule='jquery', data-requirecontext='_', async='', charset='utf-8', type='text/javascript')
	script(src='/js/lib/jquery.noty.packaged.js', data-requiremodule='noty', data-requirecontext='_', async='', charset='utf-8', type='text/javascript')
	script(src='/js/lib/bootstrap.min.js', data-requiremodule='bootstrap', data-requirecontext='_', async='', charset='utf-8', type='text/javascript')
	script(src='/js/lib/ie10-viewport-bug-workaround.js', data-requiremodule='ie10workaround', data-requirecontext='_', async='', charset='utf-8', type='text/javascript')
