#privacy-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='privacy-title' aria-hidden='true')
	.modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
		.modal-content
			.modal-header
				h5#privacy-title.modal-title Privacy Policy
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel blandit metus. Curabitur sit amet odio nec tortor pulvinar pulvinar id non tellus. Nunc fermentum tincidunt venenatis. Maecenas et diam quis est pharetra eleifend. Etiam sollicitudin, ex vel eleifend suscipit, nibh ligula rutrum tortor, vel hendrerit velit enim vel arcu. Nullam et quam ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in diam sodales, laoreet enim quis, efficitur ex. Ut ante mi, maximus non tellus ullamcorper, elementum eleifend ex. Quisque id velit dignissim odio dignissim rhoncus. Sed faucibus ut tortor et molestie. Nulla convallis aliquam sapien at placerat. Donec vulputate non massa eget gravida. Cras auctor eros risus, sed consequat odio gravida venenatis. Mauris tincidunt condimentum turpis, a commodo lectus ultrices vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis, libero in porttitor efficitur, massa ante tempor neque, quis pharetra sapien sapien at risus. Suspendisse efficitur leo bibendum enim mollis hendrerit. Vivamus urna massa, mollis non finibus ut, vehicula ac leo. Nullam ornare metus eu porta varius. Aliquam fringilla nisl a faucibus iaculis.
			.modal-footer
				button.btn.btn-secondary(type='button' data-dismiss='modal') Done
